/* fucking wordpress gallery */
.gallery .gallery-item {
    width: 80%!important;

    & img {
        width: 100%;
        height: auto;
    }

    @media screen and (min-width: 30rem) {
        & {
            width: 50%!important;
        }
        & img {
            width: 90%;
            height: auto;
        }
    }

    @media screen and (min-width: 40rem) {
        & {
            width: 33%!important;
        }
        & img {
            width: 80%;
            height: auto;
        }
    }
}
/* fucking wordpress gallery end */

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.image-gallery__item {
    flex: 1 1 10rem;
    margin: 0.5rem;

    & img {
        display: inline-block;
        width: 100%;
    }
}
