<!-- Blog snippet component -->
<div class="container">
    <h2>blog Paralelní Polis</h2>

    <div class="article-wrapper">
        <a href="#" class="article">
            <div class="article__date">
                <div class="article__date-day">
                    06
                </div>
                <div class="article__date-month">
                    červenec
                </div>
            </div>
            <div class="article__image" data-image="dist/images/article-img1.png">

            </div>
            <div class="article__title">
                hackers congres paralelní polis 2015
            </div>
        </a>
        <a href="#" class="article">
            <div class="article__date">
                <div class="article__date-day">
                    06
                </div>
                <div class="article__date-month">
                    červenec
                </div>
            </div>
            <div class="article__image" data-image="dist/images/article-img2.png">

            </div>
            <div class="article__title">
                drony nad paralelní polis
            </div>
        </a>
        <a href="#" class="article">
            <div class="article__date">
                <div class="article__date-day">
                    06
                </div>
                <div class="article__date-month">
                    červenec
                </div>
            </div>
            <div class="article__image" data-image="dist/images/article-img3.png">

            </div>
            <div class="article__title">
                institut kryptoanarchie statement ke kauze ross ulbrich
            </div>
        </a>
    </div>
    <div class="more-articles">
        <a href="#" class="button">Všechny příspěvky</a>
    </div>
</div>
