<!-- Calendar component -->
<div class="calendar calendar--loading" id="js-calendar">
    <div class="calendar__header">
        <div class="calendar__heading">
            Kalendář
        </div>
        <div class="calendar__address">
            Dělnická 43
            <br> Praha 7
            <br>
            <a href="mailto:info@paralelnipolis.cz">info@paralelnipolis.cz</a>
        </div>
    </div>
    <div class="calendar__overlay-wrap">
        <div class="calendar__table" id="js-calendar__table">
            <div class="calendar__table-column">
                <div class="calendar__cell-head"></div>
                <div class="calendar__cell-body"></div>
            </div>
            <div class="calendar__table-column">
                <div class="calendar__cell-head"></div>
                <div class="calendar__cell-body"></div>
            </div>
            <div class="calendar__table-column">
                <div class="calendar__cell-head"></div>
                <div class="calendar__cell-body"></div>
            </div>
            <div class="calendar__table-column">
                <div class="calendar__cell-head"></div>
                <div class="calendar__cell-body"></div>
            </div>
            <div class="calendar__table-column">
                <div class="calendar__cell-head"></div>
                <div class="calendar__cell-body"></div>
            </div>
            <div class="calendar__table-column">
                <div class="calendar__cell-head"></div>
                <div class="calendar__cell-body"></div>
            </div>
            <div class="calendar__table-column">
                <div class="calendar__cell-head"></div>
                <div class="calendar__cell-body"></div>
            </div>
        </div>
        <div class="calendar__overlay" id="js-calendar-overlay">
            <div class="calendar__state" id="js-calendar-state">
                Nahrávání kalendáře...
            </div>
        </div>
    </div>
    <div class="calendar__more">
        <a href="https://www.facebook.com/vejdiven/events" target="_blank" class="button">Všechny akce</a>
    </div>
</div>
