<!-- Contact stripe component -->
<div class="contact-stripe">
    <div class="container">
        <h2 class="contact-stripe__heading">
                    Kontakt
                </h2>
        <div class="contact-stripe__address">
            Dělnická 43
            <br> Praha 7
            <br>
            <a href="mailto:info@paralelnipolis.cz">info@paralelnipolis.cz</a>
        </div>
    </div>
</div>
