<!-- Footer component -->
<div class="footer">
    <div class="footer__vejdiven">
        vejdi ven...
    </div>
    <div class="footer__social">
        <a href="https://www.facebook.com/vejdiven/" target="_blank">
            <i class="icon-facebook"></i>
        </a>
        <a href="https://twitter.com/paralelni_polis" target="_blank">
            <i class="icon-twitter"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCfHJ5Y3akQ7LA0PQmSYlYmQ/feed" target="_blank">
            <i class="icon-youtube"></i>
        </a>
    </div>
</div>

<script src="{{site.theme.link}}/dist/js/app.js" async></script>

<!-- Coded with ♥ by @pajasevi -->
