{% extends "base.twig" %}

{% block content %}

    {# Main carousel #}
    {% if carousel_items %}
    <!-- Main carousel component -->
    <div class="main-carousel" id="js-main-carousel">
        <div class="main-carousel__inner" id="js-main-carousel-inner" data-slide="0">
            {% for item in carousel_items %}
                {% include 'main-carousel.twig' with {'item' : item} %}
            {% endfor %}
        </div>
        <div class="main-carousel__dots" id="js-carousel-dots"></div>
        <div class="main-carousel__social">
            <a href="https://www.facebook.com/vejdiven/" target="_blank">
                <i class="icon-facebook"></i>
            </a>
            <a href="https://twitter.com/paralelni_polis" target="_blank">
                <i class="icon-twitter"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCfHJ5Y3akQ7LA0PQmSYlYmQ/feed" target="_blank">
                <i class="icon-youtube"></i>
            </a>
        </div>
        <div class="main-carousel__action">
            <a href="#scroll-here" data-speed="1000" class="scroll">Pokračovat</a>
        </div>
    </div>
    {% endif %}

    {# Calendar #}
    {% include 'calendar.twig' %}

    {# Element for scroll animation #}
    <div id="scroll-here"></div>

    {# Hero elements #}
    {% for hero in hero_elements %}
        {% include 'hero.twig' with {'hero' : hero} %}
    {% endfor %}

    {# Citation elements #}
    {% if citations %}
    <!-- Citation component -->
    <div class="citation" id="js-citation">
        <div class="citation__container">
            {% for citation in citations %}
                {% include 'citation.twig' with {'citation' : citation, 'loop' : loop} %}
            {% endfor %}
            <div class="citation__dots" id="js-citation__dots">

            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}
